---
- name: Create EC2 instances
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Launch EC2 instances
      amazon.aws.ec2_instance:
        region: "{{ aws_region }}"
        instance_type: t2.micro
        image_id: ami-0c02fb55956c7d316
        key_name: ashishnvkey
        count: 5
      register: ec2_instances

    - debug:
        var: ec2_instances
