---
- name: Create EC2 instances
  hosts: localhost
  connection: local
  gather_facts: yes

  vars:
    aws_region: "us-east-1"
    instance_count: 5
    instance_type: "t2.micro"
    ami_id: "ami-0e86e20dae9224db8"     # Amazon Linux 2023 us-east-1
    key_name: "ashishnvkey"
    security_group: "default"

  tasks:
    - name: Launch EC2 instances
      amazon.aws.ec2_instance:
        name: "jenkins-demo-{{ item }}"
        key_name: "{{ key_name }}"
        instance_type: "{{ instance_type }}"
        image_id: "{{ ami_id }}"
        region: "{{ aws_region }}"
        security_group: "{{ security_group }}"
        count: 1
      loop: "{{ range(1, instance_count + 1) | list }}"
