---
- name: Enable PasswordAuthentication on new EC2 instances
  hosts: all
  become: true

  tasks:
    - name: Replace PermitRootLogin
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication yes'
      notify: Restart SSH

  handlers:
    - name: Restart SSH
      service:
        name: sshd
        state: restarted
